:root {
    --logo-height:100px;
    --logo-mobile-height:50px;
    --button-background-color: #4f17a7;
    --nav-background-color: #ececec;
    --nav-height:60px;
    --nav-mobile-height:65px;
    --nav-label-height:50px;
    --nav-left-margin: 25px;
    --cms-header-height: 125px;
    --cms-background-color: #fff;
    --cms-footer-background-color: #f7f9fa;
    --cms-button-small-font-size:13px;
    --cms-button-medium-font-size:16px;
    --cms-button-large-font-size:28px;
    --cms-custom-button-font-family:'GT Pressura Mono',consolas,sans-serif;
    --cms-nav-font-family:"Helvetica Neue",Helvetica,sans-serif;
    --cms-button-font-family:Agrandir-Medium,Helvetica,sans-serif;
    --cms-button-bold-font-family:Agrandir-Bold,Helvetica,sans-serif;
    --cms-button-info-color:#212121;
    --cms-close-color:#767676;
    --cms-border-color: #d9d9d9;
    --cms-global-nav-width:350px;
    --cms-global-nav-link-background-color:#f5f5f5;
    --cms-nav-label-color:#3c3c3c;
    --cms-nav-span-color: #37424a;
    --cms-nav-title-color:#2b008c;
    --cms-nav-menu-width:240px;
    --cms-nav-menu-large-width:375px;
    --cms-nav-dropdown-top:50px;
    --cms-nav-dropdown-color:#fcfcfc;
    --cms-container-background-color: #fff;
    --cms-container-height:63vh;
    --cms-container-mobile-height:70vh;
}

.cms * {
    padding: 0;
    margin: 0;
}

.cms-info-section {
    z-index: 1000;
}

.container {
    max-width: 100% !important;
    margin-left: 0;
    margin-right: 0;
    padding: 0 !important;
    min-height: var(--cms-container-height);
    background-color: var(--cms-container-background-color);
    display: flex;
    flex-direction: column;
}

pre {
    background-color: var(--nav-background-color);
    padding: 5px;
}

.cms ul {
    list-style: none;
}

.cms-left {
    float: left !important;
}

.cms-nav-dropdown {
    background-color: var(--cms-nav-dropdown-color);
}

.cms-nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

.cms-nav {
    border-bottom: 1px solid var(--cms-border-color);
    background-color: var(--nav-background-color);
    height: var(--nav-height);
}

.cms .cms-nav-label {
    display: inline-block;
    position: relative;
    width: 100%;
    height: var(--nav-label-height);
    font-size: var(--cms-button-medium-font-size);
    line-height: var(--nav-height);
    text-decoration: none;
    white-space: nowrap;
}

.unsetOverflow {
    overflow-x: unset !important;
    overflow-y: unset !important;
}

.cms-nav-item > i, .cms-nav-item > span, .cms-nav-label, .cms-nav-link > i {
    color: var(--cms-nav-span-color) !important;
}

.cms-nav-label {
    color: var(--cms-nav-span-color) !important;
}

.cms-nav-item:hover {
    color: red;
}

.hidden, .hide {
    display: none !important;
}


.overflow-hidden {
    overflow: hidden;
}

.cms .custom-btn {
    font-family: var(--cms-custom-button-font-family);
    text-align: center;
    -webkit-transition: background-color .3s ease,color .3s ease,border-color .3s ease,opacity .3s ease;
    transition: background-color .3s ease,color .3s ease,border-color .3s ease,opacity .3s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px 20px;
    background-color: var(--button-background-color);
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer !important;
    text-decoration: none;
}

.wide {
    padding-left: 35px;
    padding-right: 35px;
}

.cms .cms-info-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 9px;
    outline: 0;
    border-radius: 4px 4px;
    padding: 0 20px;
    height: 34px;
    overflow: visible;
    font-family: var(--cms-button-bold-font-family);
    font-size: var(--cms-button-small-font-size);
    letter-spacing: .37px;
    line-height: 34px;
    user-select: none;
    text-decoration: none;
}

.cms .cms-info-button:last-child {
    margin-right: 0;
}

.cms .cms-info-button {
    color: #fff !important;
    background-color: var(--button-background-color);
}

.cms-header {
    display: block;
    position: relative;
    background-color: var(--cms-background-color);
    padding: 0;
}

.cms .cms-header-line {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--cms-header-height);
    max-width: 98vw !important;
}

.cms .cms-header-logo {
    margin-right: auto;
}

.cms .cms-header-logo .cms-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    outline: 0;
    background-size: cover;
    user-select: none;
    text-decoration: none;
}

.cms .cms-header-logo .cms-button:focus, .cms .cms-header-logo .cms-button:hover {
    opacity: .85;
}

.cms .cms-header-logo .cms-button:active {
    opacity: .7;
}

/* GLOBAL NAVIGATION */
.cms .cms-global-nav > .cms-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    outline: 0;
    width: 28px;
    height: 28px;
    user-select: none;
    text-decoration: none;
}

.cms .cms-global-nav > .cms-button:focus i, .cms .cms-global-nav > .cms-button:hover i {
    opacity: .85;
}

.cms .cms-global-nav > .cms-button:active i {
    opacity: .7;
}

.cms .cms-global-nav > .cms-button i {
    color: var(--cms-button-info-color);
    font-size: var(--cms-button-large-font-size);
}

.cms .cms-global-nav + .cms-separator {
    margin-right: 27px;
    margin-left: 18px;
}

.cms .cms-global-nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.cms .cms-global-nav-item {
    display: block;
    position: relative;
    border-bottom: 0 none;
}

.cms .cms-global-nav-item:last-child {
    border-bottom: 0 none;
}

.cms .cms-global-nav-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    outline: 0;
    border-left: 3px solid transparent;
    height: 52px;
    user-select: none;
    text-decoration: none;
}

.cms .cms-global-nav-link:focus, .cms .cms-global-nav-link:hover {
    opacity: 1;
    border-left-color: var(--cms-nav-title-color);
    background-color: var(--cms-global-nav-link-background-color);
}

.cms .cms-global-nav-link i {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0 14px 0 23px;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
}

.cms .cms-global-nav-label {
    padding-right: 14px;
    color: var(--cms-nav-label-color);
    font-size: var(--cms-button-medium-font-size);
}

.cms .cms-global-nav-slider {
    -webkit-box-shadow: 0 11px 13px 0 rgba(0,0,0,.3);
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -moz-calc(100vw - var(--cms-global-nav-width));
    right: calc(100vw - var(--cms-global-nav-width));
    left: -360px;
    z-index: 300;
    box-shadow: 0 11px 13px 0 rgba(0,0,0,.3);
    background-color: #fff;
    padding-left: 10px;
    width: var(--cms-global-nav-width);
}

.cms .cms-global-nav-slider.show-global-navigation {
    -webkit-animation: globalShow .5s forwards;
    -moz-animation: globalShow .5s forwards;
    animation: globalShow .5s forwards;
}

.cms .cms-global-nav-slider.hide-global-navigation {
    -webkit-animation: globalHide .5s forwards;
    -moz-animation: globalHide .5s forwards;
    animation: globalHide .5s forwards;
}

.cms .cms-global-nav-slider > .layout {
    margin-right: 0;
    margin-left: auto;
    max-width: var(--cms-global-nav-width);
    height: -moz-calc(100% - 90px);
    height: calc(100% - 90px);
    overflow-x: hidden;
    overflow-y: auto;
}

.cms .cms-global-nav-controls {
    margin-left: auto;
    padding: 31px 0;
    max-width: var(--cms-global-nav-width);
}

.cms .cms-global-nav-controls .cms-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: block;
    position: relative;
    cursor: pointer;
    margin-right: auto;
    margin-left: 22px;
    outline: 0;
    width: 28px;
    height: 28px;
    user-select: none;
    text-decoration: none;
}

.cms .cms-global-nav-controls .cms-button:focus i, .cms .cms-global-nav-controls .cms-button:hover i {
    opacity: .85;
}

.cms .cms-global-nav-controls .cms-button:active i {
    opacity: .7;
}

.cms .cms-global-nav-controls .cms-button i {
    color: var(--cms-button-info-color);
    font-size: var(--cms-button-large-font-size);
}

.cms .cms-global-nav-controls .cms-button::after {
    display: block;
    position: absolute;
    top: 55%;
    left: -moz-calc(28px + 7px);
    left: calc(28px + 7px);
    color: var(--cms-close-color);
    font-family: var(--cms-nav-font-family);
    font-size: var(--cms-button-small-font-size);
    font-weight: 400;
    content: "Close";
}

.cms .cms-global-nav-title {
    margin-bottom: 11px;
    padding: 22px 0 7px 25px;
    color: var(--cms-nav-title-color);
    font-family: var(--cms-nav-font-family);
    font-size: var(--cms-button-medium-font-size);
    font-weight: 700;
    line-height: 20px;
}

.cms .cms-global-nav-title::after {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid var(--cms-border-color);
    font-size: 0;
    line-height: 0;
    content: "";
}

.cms .cms-global-nav-title:first-child {
    padding-top: 0;
}

.cms .cms-separator {
    margin-right: 22px;
    margin-left: 31px;
    border-right: 1px solid var(--cms-border-color);
    height: 44px;
}

.cms .cms-info-button {
    font-family: var(--cms-button-font-family);
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    min-height: 45px;
    display: flex;
    align-items: center;
}

.cms .cms-header-text-button + {
    margin-left: 10px;
}


.cms .cms-nav > .layout {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 15px;
    height: var(--nav-label-height);
    max-width: 96vw;
}

.cms .cms-nav-menu--lvl-1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    flex-direction: row;
    margin-right: auto;
    margin-left: var(--nav-left-margin);
}

.cms .cms-nav-menu--lvl-1 > .cms-nav-item {
    display: block;
    position: relative;
    margin-right: 29px;
    padding-right: 30px;
}

.cms .cms-nav-menu--lvl-1 > .cms-nav-item i {
    display: block;
    position: absolute;
    top: 45%;
    right: 0;
    margin-top: -8px;
    color: rgba(255,255,255,.5);
    font-size: var(--cms-button-medium-font-size);
}

.cms .cms-accordion > .cms-nav-link.cms-menu-link-open i {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.cms .cms-nav-menu--lvl-1 > .cms-nav-item:focus > .cms-nav-label, .cms .cms-nav-menu--lvl-1 > .cms-nav-item:focus > .cms-nav-link {
    opacity: .85;
}

.cms .cms-nav-menu--lvl-1 > .cms-nav-item > .cms-nav-link {
    background-color: transparent;
    padding: 0;
    height: auto;
}

.cms .cms-nav-menu--lvl-1 > .cms-nav-item > .cms-nav-link i {
    right: -20px;
}

.cms .cms-nav-menu--lvl-1 > .cms-nav-item > .cms-nav-label, .cms .cms-nav-menu--lvl-1 > .cms-nav-item > .cms-nav-link > .cms-nav-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    outline: 0;
    color: #fff;
    font-family: var(--cms-button-bold-font-family);
    font-size: var(--cms-button-medium-font-size);
    user-select: none;
    text-decoration: none;
    white-space: nowrap;
}

.cms .cms-nav-menu--lvl-1 > .cms-nav-item > .cms-nav-label:focus, .cms .cms-nav-menu--lvl-1 > .cms-nav-item > .cms-nav-label:hover, .cms .cms-nav-menu--lvl-1 > .cms-nav-item > .cms-nav-link > .cms-nav-label:focus, .cms .cms-nav-menu--lvl-1 > .cms-nav-item > .cms-nav-link > .cms-nav-label:hover {
    opacity: .85;
}

.cms .cms-nav-menu--lvl-1 > .cms-nav-item > .cms-nav-label:active, .cms .cms-nav-menu--lvl-1 > .cms-nav-item > .cms-nav-link > .cms-nav-label:active {
    opacity: .7;
}

.cms .cms-nav-menu--lvl-1 > .cms-nav-item:last-child {
    margin-right: 0;
}

.cms .cms-nav-menu--lvl-2 {
    display: block;
    position: relative;
    max-height: -moz-calc(100vh - var(--cms-nav-menu-width));
    max-height: calc(100vh - var(--cms-nav-menu-width));
    overflow-x: hidden;
    overflow-y: auto;
}

.cms .cms-nav-menu--lvl-2 > .cms-nav-item {
    display: block;
    position: relative;
}

.cms .cms-nav-menu--lvl-2 .cms-nav-label {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 225px;
    line-height: 1.1;
    white-space: pre-line;
}

.cms .cms-nav-menu--lvl-2 .cms-nav-link:focus {
    background-color: rgba(255,255,255,.15);
}

.cms .cms-nav-menu--lvl-3 > .cms-nav-item {
    background-color: rgba(255,255,255,.08);
}

.cms .cms-nav-menu--lvl-3 > .cms-nav-item > .cms-nav-link {
    padding-left: 30px;
}

.cms .cms-nav-menu--lvl-3 > .cms-nav-item > .cms-nav-link .cms-nav-label {
    min-width: -moz-calc(185px);
    min-width: calc(185px);
}

.cms .cms-nav-menu--lvl-4 > .cms-nav-item {
    background-color: rgba(255,255,255,.08);
}

.cms .cms-nav-menu--lvl-4 > .cms-nav-item > .cms-nav-link {
    padding-left: 40px;
}

.cms .cms-nav-menu--lvl-4 > .cms-nav-item > .cms-nav-link .cms-nav-label {
    min-width: -moz-calc(165px);
    min-width: calc(165px);
}

.cms .cms-nav-menu--lvl-5 > .cms-nav-item > .cms-nav-link {
    padding-left: 70px;
}

.cms .cms-nav-menu--lvl-6 > .cms-nav-item > .cms-nav-link {
    padding-left: 85px;
}

.cms .cms-nav-menu--lvl-7 > .cms-nav-item > .cms-nav-link {
    padding-left: 100px;
}

.cms .cms-nav-menu--lvl-8 > .cms-nav-item > .cms-nav-link {
    padding-left: 110px;
}

.cms .cms-nav-menu--lvl-9 > .cms-nav-item > .cms-nav-link {
    padding-left: 120px;
}

.cms .cms-nav-menu--lvl-10 > .cms-nav-item > .cms-nav-link {
    padding-left: 100px;
}

.cms .cms-nav-dropdown {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: var(--cms-nav-dropdown-top);
    left: -18px;
    flex-direction: column;
    z-index: 200;
    min-width: 281px;
    max-width: 281px;
}

.cms .cms-nav-dropdown .cms-nav-item {
    border-top: 1px solid rgba(217,217,217,.12);
}

.cms .cms-nav-link {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: block;
    position: relative;
    cursor: pointer;
    outline: 0;
    padding: 0 36px 0 20px;
    height: var(--nav-label-height);
    user-select: none;
    text-decoration: none;
}

.cms .cms-nav-link:hover {
    background-color: rgba(255,255,255,.15);
}

.cms .cms-nav-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    outline: 0;
    user-select: none;
    text-decoration: none;
}

.cms .cms-accordion > .cms-nav-link i {
    display: block;
    position: absolute;
    top: 30%;
    right: 16px;
    color: rgba(255,255,255,.5);
    font-size: var(--cms-button-medium-font-size);
}

.cms.cms-header:not(.cms-sticky-header) .cms-nav .cms-top-my-account {
    display: none !important;
}

.cms .cms-popup {
    -webkit-box-shadow: 0 3px 13px 0 rgba(0,0,0,.3);
    display: block;
    position: absolute;
    top: 45px;
    z-index: 300;
    box-shadow: 0 3px 13px 0 rgba(0,0,0,.3);
    background-color: #fff;
}

.cms .cms-popup::before {
    display: block;
    position: absolute;
    top: -20px;
    border-top: 10px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 8px solid transparent;
    font-size: 0;
    line-height: 0;
    content: "";
}

.cms .cms-popup.cms-popup-left {
    left: -23px;
}

.cms .cms-popup.cms-popup-left::before {
    left: 25px;
}

.cms .cms-popup.cms-popup-right::before {
    right: 25px;
}

.cms .cms-popup.cms-popup-biggest {
    width: var(--cms-nav-menu-large-width);
}

.cms .cms-popup.cms-popup-small {
    width: var(--cms-nav-menu-width);
}

.cms .cms-popup-title {
    border-bottom: 1px solid var(--cms-border-color);
    padding: 21px 15px 20px 15px;
    color: var(--cms-button-info-color);
    font-family: var(--cms-button-font-family);
    font-size: var(--cms-button-medium-font-size);
    line-height: 1;
}

.cms .cms-popup-close-button {
    display: block;
    position: absolute;
    top: -moz-calc(50% - 15px);
    top: calc(50% - 15px);
    right: 16px;
}

.cms .cms-popup-close-button .cms-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    outline: 0;
    user-select: none;
    text-decoration: none;
}

.cms .cms-popup-close-button .cms-button:focus i, .cms .cms-popup-close-button .cms-button:hover i {
    opacity: .85;
}

.cms .cms-popup-close-button .cms-button:active i {
    opacity: .7;
}

.cms .cms-popup-close-button .cms-button i {
    color: var(--cms-button-info-color);
    font-size: 20px;
}

.cms .cms-popup-back-button {
    display: block;
    position: absolute;
    top: -moz-calc(50% - 15px);
    top: calc(50% - 15px);
    left: 16px;
}

.cms .cms-popup-back-button .cms-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    outline: 0;
    user-select: none;
    text-decoration: none;
}

.cms .cms-popup-back-button .cms-button:focus i, .cms .cms-popup-back-button .cms-button:hover i {
    opacity: .85;
}

.cms .cms-popup-back-button .cms-button:active i {
    opacity: .7;
}

.cms .cms-popup-back-button .cms-button i {
    color: var(--button-background-color);
    font-size: var(--cms-button-large-font-size);
}

.cms .cms-mobile-menu-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: -moz-calc(100vh - 256px);
    height: calc(100vh - 256px);
    max-height: -moz-calc(100vh - 256px);
    max-height: calc(100vh - 256px);
    overflow-x: hidden;
    overflow-y: auto;
}

.cms .cms-mobile-menu-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-shrink: 0;
    align-items: center;
    cursor: pointer;
    outline: 0;
    border-bottom: 1px solid var(--cms-border-color);
    width: 100%;
    height: 49px;
    user-select: none;
    text-decoration: none;
}

.cms .cms-mobile-menu-item > i {
    display: block;
    position: relative;
    margin-right: 16px;
    margin-left: auto;
    color: rgba(0,0,0,.5);
    font-size: var(--cms-button-medium-font-size);
}

.cms .cms-mobile-menu-label {
    display: block;
    position: relative;
    margin-right: auto;
    padding: 0 45px 0 16px;
    overflow: hidden;
    color: var(--cms-button-info-color);
    font-family: var(--cms-nav-font-family);
    font-size: var(--cms-button-medium-font-size);
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cms .cms-mobile-menu-link {
    width: 100%;
    text-decoration: none;
}

@-webkit-keyframes globalShow {
    from {
        left: -400px;
    }

    to {
        left: 0;
    }
}

@-moz-keyframes globalShow {
    from {
        left: -400px;
    }

    to {
        left: 0;
    }
}

@keyframes globalShow {
    from {
        left: -400px;
    }

    to {
        left: 0;
    }
}

@-webkit-keyframes globalHide {
    from {
        left: 0;
    }

    to {
        left: -400px;
    }
}

@-moz-keyframes globalHide {
    from {
        left: 0;
    }

    to {
        left: -400px;
    }
}

@keyframes globalHide {
    from {
        left: 0;
    }

    to {
        left: -400px;
    }
}

.cms .cms-slide-menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out,-moz-transform .3s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out,-moz-transform .3s ease-in-out;
    will-change: transform;
    box-sizing: border-box;
    max-width: 100%;
    overflow-y: auto;
}

.cms .cms-slide-menu-slider {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out,-moz-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out,-moz-transform .3s ease-in-out;
    will-change: transform;
    width: 100%;
}

.cms .cms-slide-menu-slider ul {
    position: relative;
    width: 100%;
}

.cms .cms-slide-menu-slider ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    overflow-y: auto;
}

.cms .cms-slide-menu-slider ul ul ul {
    left: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.cms .cms-mobile-global-nav {
    display: block;
    position: relative;
}

.cms .cms-mobile-global-nav .cms-global-nav-title:first-child {
    padding-top: 35px;
}

.cms .cms-mobile-global-nav .cms-global-nav-menu {
    display: block;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
}

/* FOOTER SECTION */
.footer-nav,
#footer-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: auto;
    text-align: left;
}

.footer-nav li, .footer-nav li:hover {
    margin: 0px;
    padding: 8px 15px;
    font-size: var(--cms-button-medium-font-size);
    line-height: 18px;
    overflow: hidden;
    text-decoration: none;
}

.footer-nav li a {
    color: #575757;
}

.footer-nav li a:hover {
    text-decoration:none !important;
}

.footer-nav li.footer-title {
    text-transform: uppercase;
    margin-top: 15px;
    font-weight: 500;
}

.footer-nav li.footer-title,
.footer-nav li.footer-title span.clickToShowTranslateBar,
#footer-fine-print {
    color: var(--cms-button-info-color);
}

.cms .cms-button {
    display: block;
    position: relative;
    border: 0 none;
    background-color: transparent;
    overflow: visible;
    font-size: 0;
    line-height: 0;
}

.cms .cms-button i {
    position: relative;
}

.cms-nav-link > i.bi-caret-right-fill {
    top: 35% !important
}

.cms-nav-menu--lvl-1 > li > a:hover {
    background-color: unset !important;
}

.cms .cms-nav-label .selected, .cms-nav-item .selected {
    color: var(--button-background-color) !important;
    font-weight: bold;
}

.cms-nav-link:hover {
    background-color: var(--button-background-color) !important;
    color: #fff !important;
    border-radius: 4px;
}

.cms .cms-mobile-menu-item .selected, .cms-mobile-menu-label .selected {
    color: var(--button-background-color) !important;
    font-weight: bold;
}

.cms-nav-link > span:hover {
    color: #fff !important;
}

.cms-nav-menu--lvl-1 > .cms-nav-item > .cms-nav-link > span:hover {
    color: var(--cms-nav-span-color) !important;
}

.desktop-only {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    margin: 0;
    padding-right: 10px;
}

.language-link {
    margin: 0 10px;
}

.desktop-content {
    min-width: 70%;
    padding-right: 25px;
}

a.cms-nav-link.alink {
    padding-left: 0;
}

footer {
    margin-top: 15px;
}

#footer-div {
    border-top: 1px solid var(--cms-border-color);
    background-color: var(--cms-footer-background-color);
}

.community-control-section {
    width: 100%;
}

.community-contentEditor-container {
    padding: 15px;
    margin: 0px !important;
}

img {
    aspect-ratio: auto;
    max-width: 100%;
    padding: 0 5px;
}

#community-login-id {
    padding-right: 5px;
}

/* END FOOTER SECTION */


@media all and (max-width:991px) {
    .desktop-only {
        display:none;
    }

    .container {
        margin-top: var(--nav-mobile-height);
        min-height: var(--cms-container-mobile-height);
    }

    .site-logo-ctn {
        height: var(--logo-mobile-height) !important;
        max-width: 250px;
    }

    .hide-for-phone {
        display: none !important;
    }

    .cms.cms-header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 200;
    }

    .cms .cms-header-line {
        border-bottom: 1px solid var(--cms-border-color);
        padding: 0 5px;
        height: var(--nav-mobile-height);
    }

    .cms .cms-header-logo {
        margin-right: auto;
        height: var(--logo-mobile-height) !important;
    }

    .cms .cms-button {
        width: 33px;
        height: 30px;
    }

    .cms .cms-global-nav {
        display: none !important;
    }

    .cms .cms-global-nav-label {
        font-size: var(--cms-button-medium-font-size);
    }

    .cms .cms-separator {
        display: none !important;
    }

    .cms .cms-nav {
        display: none !important;
    }

    .cms .cms-popup::before {
        display: none !important;
    }

    .cms .cms-popup {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .cms .cms-popup.cms-popup-biggest, .cms .cms-popup.cms-popup-small {
        width: 100%;
    }

    .cms .cms-popup-title {
        padding: 23px 50px 21px 50px;
    }

    .cms .cms-popup-close-button {
        top: 15px;
    }

    .cms .cms-mobile-menu {
        margin-left: 9px;
        margin-right: 9px;
    }

    .cms .cms-mobile-menu .cms-button {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        cursor: pointer;
        outline: 0;
        width: 30px;
        height: 30px;
        user-select: none;
        text-decoration: none;
    }

    .cms .cms-mobile-menu .cms-button:focus i, .cms .cms-mobile-menu .cms-button:hover i {
        opacity: .85;
    }

    .cms .cms-mobile-menu .cms-button:active i {
        opacity: .7;
    }

    .cms .cms-mobile-menu .cms-button i {
        color: #000;
        font-size: var(--cms-button-large-font-size);
    }

    .cms .cms-mobile-menu .cms-slide-menu-slider {
        position: relative;
    }
}

@media all and (min-width:991px) {
    .cms .cms-mobile-menu {
        display: none !important;
    }
    
    .copyright-links {
        padding-left: 60px;
    }

    .cms .cms-popup-back-button {
        display: none !important;
        top: 15px;
    }

    .cms .cms-popup-close-button {
        display: none !important;
    }

    .site-logo {
        height: var(--logo-height);
        -webkit-transition: height .3s ease;
        transition: height .3s ease;
        align-items: center;
        display: flex;
        padding: 15px;
    }

    .site-logo-ctn {
        max-width: none;
        width: auto;
        height: var(--logo-height) !important;
        -webkit-transition: height .3s ease,width .3s ease;
        transition: height .3s ease,width .3s ease;
    }
}
